// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 335px;
	background: url('https://c1.staticflickr.com/5/4034/4670076015_429ef0f1cc_b.jpg');
	/*background: url('#{$path--rel}/bg-main.jpg'),
	            linear-gradient(#75da8f, #77cae9);
	background-blend-mode: multiply;
	background-size: contain;*/
	background-repeat: no-repeat;
	background-size: 100% auto;
	margin-bottom: em(50px);
}
